<div class="leapers">
  {% for author in site.data.authors %}
  <div class="leaper">
    {%- if author.picture -%}
      {%- if author.picture contains "://" -%}
        {%- assign author_picture = author.picture -%}
      {%- else -%}
        {%- assign author_picture = author.picture | relative_url -%}
      {%- endif -%}
      <img src="{{ author_picture }}" class="leaper-avatar u-photo" alt="{{ author.name }}">
    {%- endif -%}

    <div class="author-info">
      {%- if author.name -%}
      <div class="author-name">
        <a href="{{ site.url }}/{{ author.short }}"> {{ author.name }} </a>
      </div>
      {%- endif -%}

      {%- if author.bio -%}
      <div class="author-bio">
        <em class="p-bio">{{ author.bio }}</em>
      </div>
      {%- endif -%}
    </div>
  </div>
  {% endfor %}
</div>
