<h1> LEAPERS: </h1>

<div class="leapers">
  {% for leaper in site.data.leapers %}
  <div class="leaper">
    {%- if leaper.picture -%}
      {%- if leaper.picture contains "://" -%}
        {%- assign author_picture = leaper.picture -%}
      {%- else -%}
        {%- assign author_picture = leaper.picture | relative_url -%}
      {%- endif -%}
      <img src="{{ author_picture }}" class="leaper-avatar u-photo" alt="{{ author.name }}">
    {%- endif -%}

    <div class="author-info">
      {%- if leaper.name -%}
      <div class="author-name">
        <a href="{{ site.url }}/{{ author.short }}"> {{ leaper.name }} </a>
      </div>
      {%- endif -%}

      {%- if leaper.bio -%}
      <div class="author-bio">
        <em class="p-bio">{{ leaper.bio }}</em>
      </div>
      {%- endif -%}
    </div>
  </div>
  {% endfor %}
</div>
